{% extends "myfirst_app/base.html" %}

{% block content %}
<div class="row">
    <h2 class="col-6 offset-3">Forget your Password</h2>
    <div class="col-6 offset-3">
        <form action="{% url 'changePassword'%}" method="POST" novalidate class="needs-validation">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" required placeholder="enter username" name="username">
            </div>
            <div class="mb-3">
                <label for="Old_password" class="form-label">enter Old password</label>
                <input type="password" class="form-control" required placeholder="password" name="Old_password">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="new_password" class="form-label">enter new password</label>
                <input type="password" class="form-control" required placeholder="password" name="new_password"
                    id="new_password">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="Confirm_password" class="form-label">enter Confirm Password</label>
                <input type="password" class="form-control" required placeholder="password" name="Confirm_password"
                    id="confirm_password">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>
<script>
    const newPasswordInput = document.getElementById('new_password');
    const confirmPasswordInput = document.getElementById('confirm_password');

    if (newPasswordInput && confirmPasswordInput) {
        confirmPasswordInput.addEventListener('input', (event) => {
            if (newPasswordInput.value !== confirmPasswordInput.value) {
                confirmPasswordInput.setCustomValidity('Password does not match.');
            } else {
                confirmPasswordInput.setCustomValidity('');
            }
        });
    }

</script>

{% endblock %}